# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
.env
.env.local
.env.development
.env.production

# Logs
logs
*.log

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build outputs
client/build/
server/dist/
